* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #010400;
    overflow-x: hidden;
}


* {
    color: #576784;
    font-family: 'Lato';
    z-index: 1;
}

h1, h3 {
    color: #99B2DD;
}

h1 {
    font-size: 80pt;
}

h2, h3 {
    font-size: 35pt;
}

#image {
    /* background-image: url('images/sarah.png'); */
    background-image: url('images/sarah2.svg');
    width: 100vw;
    height: 160vh;
    /* position: fixed; */
    z-index: -1;
    background-size: cover;
    margin-top: -40vh;
    overflow: hidden;
}
 
/* #triangle {
    background-color: #010400;
    z-index: -1;
    position: absolute;
    width: 300%;
    height: 200vh;
    transform: rotateZ(30deg);
    margin-left: -150vw;
    margin-top: 8vw;
} */

main {
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 0px;
    padding-top: 69vh;
    padding-left: 20px;
}

.intro {
    margin-left: 5vw;
    width: 45vw;
    margin-bottom: 12vh;
}

#intro {
    text-align: center;
}

#intro p {
    font-size: 20pt;
    width: 45vw;
    margin-left: 20vw;
}

#skills div, #works div {
    width: 20vw;
    display: inline-block;
    padding: 20px;
}
